@import url(./components/shared/shared.css);
#stats-app {
  --spice-button: var(--essential-bright-accent);
  --spice-text: var(--text-base);
  --spice-subtext: var(--text-subdued);
  --spice-rgb-selected-row: var(--background-elevated-highlight);
  --spice-rgb-card: var(--background-elevated-base);
  --spice-main: var(--essential-bright-accent);
  --spice-player: var(--spice-main);
}

#stats-app .stats-gridInline {
  --grid-gap: 24px;
  grid-template-columns: repeat(10, 180px) !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-top: 5px;
}
#stats-app [data-scroll=both] {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}
#stats-app [data-scroll=end] {
  mask-image: linear-gradient(to right, transparent, black 10%);
}
#stats-app [data-scroll=start] {
  mask-image: linear-gradient(to right, black 90%, transparent);
}
#stats-app .stats-libraryOverview {
  display: flex;
  gap: 24px;
  align-items: center;
}
#stats-app .stats-trackPageTitle {
  display: flex;
  gap: 24px;
  align-items: center;
}
#stats-app .stats-scrollButton {
  width: 40px;
  border-radius: 8px;
  border: none;
  padding: 0;
  margin-right: 5px;
  background-color: var(--spice-player);
  color: var(--spice-subtext);
}
#stats-app .stats-scrollButton:hover {
  background-color: var(--spice-card);
  color: var(--spice-text);
}
#stats-app .stats-tracklistHeader > div {
  display: flex;
  -webkit-app-region: no-drag;
  gap: 20px;
  align-items: center;
}
#stats-app .stats-make-playlist-button {
  margin-inline-start: 12px;
}
#stats-app .stats-genreCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  border-radius: 8px;
  background: var(--spice-player);
  position: relative;
}
#stats-app .stats-genreRow {
  width: 100%;
  height: 20px;
  display: flex;
  gap: 10px;
}
#stats-app .stats-genreRowFill {
  background: var(--spice-button);
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
#stats-app .stats-genreText {
  color: var(--spice-player);
  font-size: 0.875rem;
  margin-left: 7px;
  font-weight: bold;
}
#stats-app .stats-genreValue {
  color: var(--spice-text);
  font-size: 0.875rem;
}
#stats-app .GenericModal[aria-label="Playlist Stats"] .uUYNnjSt8m3EqVjsnHgh {
  width: 80vw;
  height: 80vh;
  background-color: var(--spice-main);
}
#stats-app .GenericModal[aria-label="Playlist Stats"] .MfVrtIzQJ7iZXfRWg6eM {
  color: var(--spice-text);
}
#stats-app .stats-genreCard + .stats-gridInlineSection {
  margin-top: 3px;
}
