.grid {
    --grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)) !important;
}

.loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    flex-direction: column;
    gap: 16px;

    .status-icon {
        width: 40px;
        height: 40px;
        fill: currentColor;
    }
}

.page-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.page-header {
    align-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;

    .header-right,
    .header-left {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .header-right {
        justify-content: flex-end;
    }

    .header-left {
        justify-content: flex-start;
    }
}

.new-update {
    background-color: var(--spice-player);
    color: var(--spice-text);
    border-radius: 8px;
    padding: 2px 12px;
    margin: 0 24px;
    border: 0px;
}

.fVB_YDdnaDlztX7CcWTA {
    background: var(--background-base);
    grid-column: 1/-1;
    height: 48px;
    padding-top: 7px;
    position: sticky;
    top: 64px;
    z-index: 1;
}

.e179_Eg8r7Ub6yjjxctr {
    width: 100%;
}

.VIeVCUUETJyYPCDpsBif {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.bMurPtRDRv5LuN78MTVG {
    overflow: hidden;
    position: relative;
}

.KjPUGV8uMbl_0bvk9ePv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    width: 100%;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
}

.ZWI7JsjzJaR_G8Hy4W6J {
    cursor: pointer;
    padding: 2px;
}

.ZWI7JsjzJaR_G8Hy4W6J > * {
    -webkit-margin-end: 8px;
    margin-inline-end: 8px;
    -webkit-margin-after: 0 !important;
    margin-block-end: 0 !important;
}
